<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="addr" value="net.tcp://localhost:22222/IShowService" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="IShowBehavior" name="IShow.Service.ChooseDishesDataService">
        <endpoint address="ChooseDishesDataService" binding="netTcpBinding"
          bindingConfiguration="IShowBinding" contract="IShow.Service.IChooseDishesDataService" />
      </service>
      <service behaviorConfiguration="IShowBehavior" name="IShow.Service.DischesWayNameDataService">
        <endpoint address="DischesWayDataService" binding="netTcpBinding"
          bindingConfiguration="IShowBinding" contract="IShow.Service.IDishesWayNameDataService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IShowBehavior">
          <serviceThrottling maxConcurrentSessions="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="IShowBinding" sendTimeout="00:00:01">
          <reliableSession enabled="true" inactivityTimeout="00:00:05" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<connectionStrings><add name="ChooseDishesEntities" connectionString="metadata=res://*/Data.ChooseDishesModel.csdl|res://*/Data.ChooseDishesModel.ssdl|res://*/Data.ChooseDishesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12;initial catalog=IChooseDishes;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>